<nav class="center">
  <ul>      
    <li><a href="/">Home
      <span></span><span></span><span></span>
    </a></li>
    <li><a href="VacPack">Vacations
      <span></span><span></span><span></span>
    </a></li>
    <li><a href="contact">Contact Us
      <span></span><span></span><span></span>
    </a></li>
    <li><a href="login">Login
      <span></span><span></span><span></span>
    </a></li>
    <li><a href="registration">Registration
      <span></span><span></span><span></span>
    </a></li>
  </ul>  
</nav>