<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta-data'); %>
    <%- include('./partials/style-sheets'); %>
    <title>Home| Travel Expert</title>
  </head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header class="center flex-column">
      <h1>WELCOME TO TRAVEL EXPERTS</h1>
      <button>SIGN UP NOW!</button>
    </header>

    <main>
      <fieldset>
        <h2>
            <legend>Contact Us

            </legend>
        </h2>
        <p>Office phone Number:    (+1)306-205-4567</p>
        <p>Email Address:   Travelexperts@t2p.ca</p>
        <p>Office Address:  404 Money Street S, Zion, Olympus.</p>
        <p>Postal Code:     Z4P 419</p>
      </fieldset>
    </main>

    <%- include('./partials/footer'); %>

  </div>
  <script>
  </script>
</body>
</html>