<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Muna, Aslam, Tarek">
    <meta name="date" content="July 27,2020">
    <meta name="course module" content="cPRG-210-XM1- Web Development Project">
    <meta name="Project" content="Part 1">
    <title>Travel Experts Home</title>
    <link rel="stylesheet" href="">
 <!-- Navigation-->

            <ul>      
                <li><a href="homepage.html">Home</a></li>
                <li><a href="registration.html">Registration</a></li>
                <li><a href="VacPack.html">Vacation Package</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>       
</head>
<body>
    <!--<div><img class="logo" src="https://logodix.com/logo/14441.jpg" alt="logo"></div>-->
<!-- main page content-->
    <header>
        
        <h1>WELCOME TO TRAVEL EXPERTS

        </h1>
        
    </header>
      
      <h2>
          Experience Travelling With Peace of Mind
      </h2>

      <p>  There are so many amazing ways to explore the world. But knowing where to go, how to get there, and what to see and do takes a lot of in-depth travel knowledge.</p>
      
      <p>Travel experts assist with everything it takes to have a seamless and unforgettable vacation. Whether it’s a ski trip, river cruise, European tour, Disney getaway, or beach side wedding, there’s a travel agent certified and specializing in your next adventure.</p> <p>We also offer a wide range of vacation packages. Please click on the Vacation package tab for more information</p>
      
      
        
</body>

<!--the code below links the contact menu tab to the footer-->
<footer>
        &copy; 2020 Travel Experts
</footer>

</html>

