<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta-data'); %>
  <%- include('./partials/style-sheets'); %>
  <title>Travel Experts Home</title>
  <style>
    .package-cards-gallery {
      display: grid;
      grid-template-columns: auto auto auto;     
    }

    .package-cards-gallery figure {
      background-size: cover;
      position: relative;
      padding: 0;
      margin: 10px;
      /* border: 1px solid rgba(102, 102, 102, 0.616); */
      border-radius: 15px;
      box-shadow: 0px 0px 10px gray;
      width: 300px;
      height: 400px;
    }

    .package-cards-gallery figure div {
      width: 100% !important;
      margin: 5px;
    }

    .package-cards-gallery figure span {
      margin-left: 15px;
      background: var(--c);
      color: black;
      padding: 5px;
      border-radius: 1em;
    }

    .package-cards-gallery img {
      display: none;
    }

    .package-cards-gallery figcaption {
      position: absolute;
      bottom: 0;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      border-radius: 0 0 15px 15px;
    }
  </style>
</head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header class="hero-section center flex-column">
      <h1>WELCOME TO TRAVEL EXPERTS</h1>
      <p>There are so many amazing ways to explore the world. But knowing where to go, how to get there, and what to see and do takes a lot of in-depth travel knowledge.</p>
    
      <p>Travel experts assist with everything it takes to have a seamless and unforgettable vacation. Whether it’s a ski trip, river cruise, European tour, Disney getaway, or beach side wedding, there’s a travel agent certified and specializing in your next adventure.</p> 
      <button>SIGN UP NOW!
        <span></span><span></span><span></span><span></span>
      </button>
    </header>

    <main class="center flex-column">
      <h2>Travel Destinations</h2>
      <div class="package-cards-gallery">

      </div>

    </main>

    <%- include('./partials/footer'); %>

  </div>
  <script src="/js/packages-list.js"></script>
  <script src="/js/package-cards.js"></script>
</body>
</html>

