<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta-data'); %>
  <%- include('./partials/style-sheets'); %>
  <title>Travel Experts Home</title>
  <style>
    .package-cards-gallery {
      display: grid;
      grid-template-columns: auto auto auto;     
    }

    .package-cards-gallery figure {
      background-size: cover;
      position: relative;
      padding: 0;
      margin: 10px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px gray;
      width: 300px;
      height: 300px;
    }

    .package-cards-gallery figure div {
      width: 100% !important;
      margin: 10px;
    }

    .package-cards-gallery figure span {
      margin-left: 15px;
      background: var(--teal);
      color: white;
      padding: 5px;
      border-radius: 1em;
    }

    .package-cards-gallery img {
      display: none;
    }

    .package-cards-gallery figcaption {
      position: absolute;
      bottom: 0;
      color: white;
      font-size: 1.1rem;
      font-weight: 700;
      border-radius: 0 0 15px 15px;
    }

    .destination-select {
      background: #040E27;
      color: white;
      height: 5em;
      width: 100%;
      font-size: 1.4rem;
    }

    .destination-select label {
      margin: 0 15px;
    }
  </style>
</head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header class="hero-section center flex-column">
      <h1>WELCOME TO TRAVEL EXPERTS</h1>
      <p>There are so many amazing ways to explore the world. But knowing where to go, how to get there, and what to see and do takes a lot of in-depth travel knowledge.</p>
    
      <p>Travel experts assist with everything it takes to have a seamless and unforgettable vacation. Whether it’s a ski trip, river cruise, European tour, Disney getaway, or beach side wedding, there’s a travel agent certified and specializing in your next adventure.</p> 
      <button>SIGN UP NOW!
        <span></span><span></span><span></span><span></span>
      </button>
    </header>

    <main class="center flex-column">
      <form class="destination-select center">
        <label>Where do you want to go?</label>
        <select>

        </select>
      </form>

      <div class="center flex-column">
        <h2>Popular Destinations</h2>
        <p>Escape to paradise.</p>
        <div class="package-cards-gallery">

        </div>
      </div>
    </main>

    <%- include('./partials/footer'); %>

  </div>
  <script src="/js/packages-list.js"></script>
  <script src="/js/package-cards.js"></script>
  <script src="/js/destination-select.js"></script>
</body>
</html>

