<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta-data'); %>
  <%- include('./partials/style-sheets'); %>
  <title>Login | Travel Experts</title>
</head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

  <main>
    <div class="placement">
      <h2>Login Here</h2>
    </div>

    <div id="error"></div>
    <form class = "formLogin" action="/" method="GET">
        <fieldset>
            <legend><h3>Login</h3></legend>
            <p>Username:<input id="username" type="username" name="username" required autofocus pattern="[a-zA-Z0-9]" title="please enter a valid username"></p>
            <p>Password:<input id="Password" type="password" name="Password" required></p>
        

            <button type="reset">Reset</button>
            <button type="submit" id= "submit">Login</button>

        </fieldset>     
    </form>
  </main>

  <%- include('./partials/footer'); %>

  </div>
</body>


</html>

