<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta-data'); %>
    <%- include('./partials/style-sheets'); %>
    <title>Vacation-Packages| Travel Expert</title>
  </head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header></header>

    <main>
      <h1> Please Select a Vacation Package:</h1> 
      <div class="vacpackages"></div>
    </main>
 
    <%- include('./partials/footer'); %>

  </div>
  <script src="/js/packages-list.js"></script>
  <script src="/js/vacation-packages.js"></script>
</body>
</html>