<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Muna, Aslam, Tarek">
    <meta name="date" content="July 27,2020">
    <meta name="course module" content="cPRG-210-XM1- Web Development Project">
    <meta name="Project" content="Part 1">
    <title>Vacation_Packages|Travel-Experts</title>
    <link rel="stylesheet" href="">
 <!-- Navigation-->

            <ul>      
                <li><a href="homepage.html">Home</a></li>
                <li><a href="registration.html">Registration</a></li>
                <li><a href="VacPack.html">Vacation Package</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>       
</head>
<body>
    <h1> Please Select a Vacation Package: 

    </h1> 
    <div class="packages"></div>

  <!--JS for vacation-packages-->  
<script src="/public/js/vacation-packages.js"></script>


</body>

<!--the code below links the contact menu tab to the footer-->
<footer>
        &copy; 2020 Travel Experts
</footer>

</html>