/** GENERAL FORM RESET/STYLE **/

/* set consistent width for fields */

form {
  color: white;
  min-width: 22em;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0; 
}

legend {
  margin: 0 auto;
  text-decoration: underline;
}

input, textarea, select {
  width : 80%;
  margin: 5px 0;
}

form .button {
  margin: 0.8em;
}

label.required::after {
  content: '*';
  color: var(--red);
}


/****  REGISTRATION/LOGIN ****/

.register-login {
  border: 5px solid var(--teal);
  border-radius: 1em;
  background: var(--darkblue);
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.register-login p {
  text-align: center;
}

.register-login a {
  color: var(--teal);
}

.register-login a:hover,
.register-login a:active {
  color: var(--red);
  text-decoration: underline;
}

/***** TOOLTIPS *****/

[role="tooltip"] {
  display: inline-block;
  white-space: nowrap;

  padding: 0.5em 0.8em;
  background: white;

  font-weight: 700;
  color: black;

  border: 1px solid black;
  border-radius: 1em;

  position: absolute; /* Position this element relative to the div it's in. In combination with a relative parent, it is position relative to that parent. */
  left: 100%;

  transform: scale(0); /* Essentially: This is display none */

  transition: transform ease-out 100ms; 
}

/* When an input field is focused and invalid, apply this css to the next tool-tip */
input:invalid:focus + [role="tooltip"] {
  transform: scale(1);
}

@media (max-width: 700px) {
  span[role="tooltip"] {
    left: 0;
    bottom: 3em;
    z-index: 1;
  } 
}

/**** CONTACT US ****/

.wrapper {
  width: 25em;
  padding: 1em;
}

.contact-us {
  display: flex;
  justify-content: center;
  margin: 1.3em;
  border: 5px solid var(--teal);
  border-radius: 1em;
  background: var(--darkblue);
  color: white;
}

.contact-info {
  border-right: 3px solid darkgray;
}

.contact-info span {
  text-decoration: underline;
  font-style: italic;
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

@media (max-width: 750px) {
  .contact-us {
    flex-direction: column;
  }

  .contact-info {
    border-right: none;
    border-bottom: 3px solid darkgray;
  }
}