/** GENERAL FORM RESET/STYLE **/

/* set consistent width for fields */

form {
  color: white;
  min-width: 22em;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0; 
}

legend {
  margin: 0 auto;
  text-decoration: underline;
}

input, textarea, select {
  width : 80%;
  margin: 5px 0;
}

form .button {
  margin: 0.8em;
}


/****  REGISTRATION/LOGIN ****/

/* fieldset {


} */

.register-login {
  border: 5px solid var(--teal);
  border-radius: 1em;
  background: var(--darkblue);
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**** CONTACT US ****/

.wrapper {
  width: 25em;
  padding: 1em;
}

.contact-us {
  display: flex;
  justify-content: center;
  margin: 1.3em;
  border: 5px solid var(--teal);
  border-radius: 1em;
  background: var(--darkblue);
  color: white;
}

.contact-info {
  border-right: 3px solid darkgray;
}

.contact-info span {
  text-decoration: underline;
  font-style: italic;
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

@media (max-width: 750px) {
  .contact-us {
    flex-direction: column;
  }

  .contact-info {
    border-right: none;
    border-bottom: 3px solid darkgray;
  }
}