/***** Themes *******/

nav {
  background: white;
}

.hero-section {
  color: white;
}

.hero-section a {
  background: var(--teal);
}

.button {
  display: block;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  background: var(--teal);
  color: white;
}

.button:hover {
  background: var(--red);
  cursor: pointer;
}

/***** resets *******/

a {
text-decoration: none;
}

/***** NAV BAR ******/


/**** HERO SECTION *****/
/***********************/

.hero-section {
  height: 700px;
}

.hero-section h1 {
  text-align: center;
}

.hero-section p {
  max-width: 50ch;
  text-align: center;
}

.hero-section .button {
  margin-top: 1rem; 
  padding: 0.5em 0.75em;
  border-radius: 8px;
  border: none;

  /* Cool hover special effect */
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

/* properties for the "curtain" */
.hero-section span {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--red);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 50%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.hero-section .button:hover span {
  transform: translateY(0) scale(2);
}
.hero-section .button span:nth-child(1) {
  --n: 1;
}
.hero-section .button span:nth-child(2) {
  --n: 2;
}
.hero-section .button span:nth-child(3) {
  --n: 3;
}
.hero-section .button span:nth-child(4) {
  --n: 4;
}

/**** MAIN CONTENT *****/
/***********************/


main {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.background {
  background-image: url('https://picsum.photos/id/1006/3000/2000');
  background-position: center;
  background-size: cover;
}

/**** Destination Selector *****/
.destination-select {
  background: #040E27;
  color: white;
  height: 5em;
  width: 100%;
}

.destination-select label {
  margin: 0 15px;
}

.destination-select select {
  border-radius: 8px;
  background: none;
  color: grey;
  padding: 0.5em;
  border: 0.5px solid grey;
}

/**** Popular Destinations *****/

.popular-destinations {
  width: 100%;
}

.popular-destinations * {
  transition: all var(--transitionTime);
  color: white;
  text-align: center;
  text-decoration: none;
}

.popular-destinations figure {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  background-size: cover;
  position: relative;
  overflow: hidden;

  margin: 20px;
  width: 30%;
  padding-bottom: 30%; /* By combining width with padding bottom and position relative, we ensure a relatively stable and responsive aspect ratio. */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(92, 92, 92);
}

.popular-destinations img {
  display: none;
}

.destination-info div {
  margin: 0 10px;
}

.destination-info {
  --transitionTime: 500ms;
  justify-content: space-between;
  position: absolute;
  bottom: -80%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(92, 92, 92, 0.7);
  visibility: hidden;
}

.popular-destinations figcaption {
  visibility: visible;
  align-self: center;
  margin: 10px;
  padding: 0.3em 0.5em;
  border-radius: 0.75em;
  background: var(--teal);
}

.popular-destinations .button {
  margin: 15px;
}

.popular-destinations figure:hover .destination-info {
  bottom: 0;
  visibility: visible;
  transition: bottom var(--transitionTime);
}

.popular-destinations figure:hover figcaption {
  background: none;
  text-decoration: underline;
}



/**** Company Features *****/
.hot-features {
  margin: 80px 0;
  text-align: center;
}

.hot-features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.hot-features svg {
  fill: var(--red);
  height: 75px;
}

/***** RESPONSIVENESS ******/

@media (hover: none) and (pointer: coarse) {
  .destination-info {
    bottom: 0;
    visibility: visible;
  }

  .destination-info figcaption {
    background: none;
    text-decoration: underline;
  }
}

@media (max-width: 800px) {

}

@media (max-width: 600px) {
  .popular-destinations {
    flex-direction: column;
  }

  .popular-destinations figure {
    width: 75%;
    padding-bottom: 75%;
  }

  .hot-features {
    flex-direction: column;
  }
}

/***** FOOTER *****/

footer {
  width: 100%;
  height: 2.5rem;

  background: var(--darkblue);
  color: white;
}

.gitlogo {
  width: 2em;
  padding: 0.2em;
  fill: white;
}

footer a {
  margin-right: 5px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.form{
  height: 85%;
  width: 400px;
  background-position: center;
  margin:auto;
  padding: -2em;
}

.placement h1{
  color: rgb(66, 184, 142);
  text-align: center;
}

.placement h2{
  color: rgb(66, 184, 142);
  text-align: center;
}
