/***** Themes *******/

:root {
  --darkblue: #040E27;
  --teal: #1EC6B6;
  --red: #FF4A52;
}

nav {
  background: white;
}

.hero-section {
  color: white;
}

.hero-section a {
  background: var(--teal);
}

.button {
  display: block;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  background: var(--teal);
  color: white;
}

.button:hover {
  background: var(--red);
  cursor: pointer;
}

/***** resets *******/

a {
text-decoration: none;
}

/***** NAV BAR ******/

nav {
  font-size: 1.1rem;
  font-weight: 700;
}

.nav-logo {
  position: relative;
  z-index: 1;
}

/* spreading underline hover effect */
.nav-logo::after {
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 2px;
  content: '.';
  color: transparent;
  background: var(--red);
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: all .3s;
}
.nav-logo:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 2px;
}

.logo {
  fill: var(--red);
  height: 3em;
}

.nav-logo:hover {
  cursor: pointer;
}

.travel-experts {
  display: block;
  color: var(--darkblue);
  font-size: 1.2rem;
  margin: auto 10px;
  height: 100%;
}

nav ul {
  display: flex;
}

nav ul a {
  display: block;

  color: var(--teal);

  padding: 0em 1.0em;
  line-height: 3em;

  position: relative;
  z-index: 1;
}

nav ul a:after {
  display: block;
  position: absolute;
  top: 0; /* These for position the animation to come from the center line. */
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--red);
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: all .3s;
}
nav ul a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
nav ul a:hover{
  color: white;
}

/**** HERO SECTION *****/
/***********************/

.hero-section {
  background-image: url('https://picsum.photos/id/1006/3000/2000');
  background-position: center;
  background-size: cover;
  height: 700px;
}

.hero-section h1 {
  font-size: 3rem;
  text-align: center;
}

.hero-section p {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 50ch;
  text-align: center;
}

.hero-section .button {
  font-size: 2rem;
  font-weight: 700;

  margin-top: 1rem; 
  padding: 0.5em 0.75em;
  border-radius: 8px;
  border: none;

  /* Cool hover special effect */
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}

/* properties for the "curtain" */
.hero-section span {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--red);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 50%);
  transition: 0.3s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.hero-section .button:hover span {
  transform: translateY(0) scale(2);
}

.hero-section .button span:nth-child(1) {
  --n: 1;
}

.hero-section .button span:nth-child(2) {
  --n: 2;
}

.hero-section .button span:nth-child(3) {
  --n: 3;
}

.hero-section .button span:nth-child(4) {
  --n: 4;
}

/**** MAIN CONTENT *****/
/***********************/


main {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
}

/**** Destination Selector *****/
.destination-select {
  background: #040E27;
  color: white;
  height: 5em;
  width: 100%;
  font-size: 1.4rem;
}

.destination-select label {
  margin: 0 15px;
}

.destination-select select {
  border-radius: 8px;
  background: none;
  color: grey;
  padding: 0.5em;
  border: 0.5px solid grey;
}

/**** Popular Destinations *****/

.popular-destinations {
  width: 100%;
}

.popular-destinations * {
  transition: all var(--transitionTime);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.popular-destinations figure {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  background-size: cover;
  position: relative;
  overflow: hidden;

  margin: 20px;
  width: 30%;
  padding-bottom: 30%; /* By combining width with padding bottom and position relative, we ensure a relatively stable and responsive aspect ratio. */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(92, 92, 92);
}

.popular-destinations img {
  display: none;
}

.destination-info div {
  margin: 0 10px;
}

.destination-info {
  --transitionTime: 500ms;
  justify-content: space-between;
  position: absolute;
  bottom: -75%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(92, 92, 92, 0.7);
  visibility: hidden;
}

.popular-destinations figcaption {
  visibility: visible;
  align-self: center;
  margin: 10px;
  padding: 0.3em 0.5em;
  border-radius: 0.75em;
  font-weight: 700;
  background: var(--teal);
}

.popular-destinations .button {
  margin: 15px;
}

.popular-destinations figure:hover .destination-info {
  bottom: 0;
  visibility: visible;
  transition: bottom var(--transitionTime);
}

.popular-destinations figure:hover figcaption {
  background: none;
  text-decoration: underline;
}



/**** Company Features *****/
.hot-features {
  margin: 80px 0;
  text-align: center;
}

.hot-features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.hot-features svg {
  fill: var(--red);
  height: 75px;
}

/***** RESPONSIVENESS ******/

@media (hover: none) and (pointer: coarse) {
  .destination-info {
    bottom: 0;
    visibility: visible;
  }

  .destination-info figcaption {
    background: none;
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .destination-select * {
    font-size: 1.3rem;
  }
  
  .hot-features h3 {
    font-size: 1.0rem;
  }
  .hot-features div {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .hot-features h3 {
    font-size: 1.3rem;
  }
  .hot-features div {
    font-size: 1rem;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1.2rem;
  }

  .hero-section .button {
    font-size: 1.5rem;
  }

  .destination-select * {
    font-size: 1.1rem;
  }

  .popular-destinations {
    flex-direction: column;
  }

  .popular-destinations figure {
    width: 75%;
    padding-bottom: 75%;
  }

  .hot-features {
    flex-direction: column;
  }

  footer {
    font-size: 0.75rem;
  }
}

/***** FOOTER *****/

footer {
  width: 100%;
  height: 2.5rem;

  background: var(--darkblue);
  color: white;
}

.gitlogo {
  width: 2em;
  padding: 0.2em;
  fill: white;
}

footer a {
  margin-right: 5px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}